<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Cafe Review Website!</title>

</head>
<body>
<div class="row">
    <div class="col-6 p-0">
        <div class="card img-fluid">
            <img src="/static/images/bg.jpeg" class="card-img-bottom bg-img vh-100" alt="...">
            <div class="card-img-overlay">
                <h1 class="card-title text-white mx-4 mt-4">Coffee Shop Review</h1>
                <a href="{{url_for('cafe_by_location')}}" class="mx-4 btn btn-light" role="button">Search Cafe</a>
                <a href="{{url_for('add_cafe')}}" class="btn btn-light" role="button">Add Cafe</a>

            </div>
        </div>
    </div>
    <div class="col-6 bg-warning bg-opacity-25" >
        <div class="container-fluid vh-100 overflow-auto">
            <div class="row">
                {% for cafe in cafes %}
                <div class="col-lg-6 col-sm-12 p-0">
                    <hr class="text-white">
                    <h4 class= "px-2 pt-3 mx-auto" style="color:sienna">{{cafe.name}}</h4>
                        <li class="px-3">Location  :  {{cafe.location}}</li>
                        <li class="px-3">Wifi connection  :  {{cafe.wifi}}</li>
                        <li class="px-3">Coffee price range  :  {{cafe.coffee_price}}</li>
                        <li class="px-3">{{cafe.environment}}</li>
                        <li class="px-3 pb-2">Overall Rating  : <span class="fw-bold">{{cafe.overall_rating}}</span> </li>
                  </div>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

<!-- style="overflow-y:scroll"-->